body {
	background-color: #fff;
	color: #222;
}

a, p, textarea {
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	text-align: justify;
	text-decoration: none;
}

a:focus, a:active, a:hover {
	text-decoration: underline;
}

a {
	color: #8fcb9b;
}

h1, h2, h3, h4, h5, table {
	font-family: 'Arimo', sans-serif;
	text-align: center;
	font-weight: 700;
}

h1 {
	font-size: 32px;
	padding-top: 1em;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
	text-align: left;
}

h4 {
	font-size: 20px;
	text-align: justify;
	clear: both;
	padding: 2em 0 0 0;
}

h5 {
	font-size: 18px;
	text-align: justify;
	clear: both;
	padding: 0;
	margin: 0;
}

table {
	font-weight: 200;
	width: 90%;
	text-align: left;
	font-family: 'Droid Serif', serif;
}

hr {
	clear: both;
	width: 90%;
	margin: 50px 0;
}

ul {
	clear: both;
}

li {
	float: left;
	padding: 1em;
	border: 1px;
}

button {
	clear: both;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0 auto 1em auto;
	display: block;
	color: #fff;
	border-color: #222;
	vertical-align: middle;
}

.button a:focus, a:hover, a:active {
	text-decoration: none;
	box-shadow: 1px 1px 0 0 5px #222;
}

.wrapper {
	background-color: #fff;
	opacity: .9;
	width: 90%;
	margin: 0 auto;
	padding: 0 1em;
}

.main {
	width: 90%;
	margin: 0 auto;
	padding: 0 2em;
}

#scale {
	background-color: #fd151B;
}

#solution {
	background-color: #ffb30f;
}

#delivery {
	background-color: #849324;
}

#speed {
	background-color: #437f97;
}

#fifth {
	background-color: #01295f;
}

textarea {
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	min-height: 150px;
	border-color: #222;
}

th {
	max-width: 40%;
	font-family: Arimo;
}

td {
	text-align: center;
	font-size: 14px;
	padding: 3px 0;
	color: #222;
}