
/*** COLOURS ***/

/*
black for text: #212227;
soft white for background: #f5f3f5;
blue for buttons & headings: #233254;
light blue for accent: #6a81a2;
*/

body {
	background-color: #f5f3f5;
	color: #212227;
}

a, p, textarea {
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	text-align: justify;
	text-decoration: none;
}

a:focus, a:active, a:hover {
	color: #6a81a2;
	text-decoration: underline;
}

a {
	color: #233254;
}

h1, h2, h3, h4, h5, table {
	font-family: 'Arimo', sans-serif;
	text-align: center;
	font-weight: 700;
	color: #233253;
}

h1 {
	font-size: 32px;
	padding-top: 1em;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
	text-align: left;
}

h4 {
	font-size: 20px;
	text-align: justify;
	clear: both;
	padding: 2em 0 0 0;
}

h5 {
	font-size: 18px;
	text-align: justify;
	clear: both;
	padding: 0;
	margin: 0;
}

table {
	font-weight: 200;
}

hr {
	clear: both;
	width: 90%;
	margin: 50px 0;
}

li {
	padding: 1em;
	border: 1px;
}

.no-margin {
	margin: 0;
}

.button {
	clear: both;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0 auto 1em auto;
	display: block;
	color: #f5f3f5;
	background-color: #233254;
	border-color: #6a81a2;
}

.button a {
	color: #6a81a2;
}

.button a:focus, a:hover, a:active {
	text-decoration: none;
	color: #6a81a2;
}

.button-fixed {
	min-width: 150px;
}

.wrapper {
	background-color: #f5f3f5;
	opacity: .9;
	width: 95%;
	margin: 0 auto;
	padding: 0 1em;
}

.main {
	width: 90%;
	margin: 0 auto;
	padding: 0 2em;
}

textarea {
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	min-height: 150px;
	border-color: #6a81a2;
}

table {
	width: 90%;
	text-align: left;
	font-weight: 400;
	font-family: 'Droid Serif', serif;
}

th {
	max-width: 40%;
	font-family: 'Arimo';
}

td {
	text-align: center;
	font-size: 14px;
	padding: 3px 0;
	color: #212227;
}


/*** Content sections ***/

.sidebar {
	float: right;
	width: 280px;
	margin: 0 auto;
}

.maincontainer {
	float: left;
	width: 75%;
	margin: 0 auto;
}

@media (max-width: 1210px) {
	.maincontainer {
		width: 100%;
		clear: both;
	}
	.sidebar {
		width: 50%;
		margin: 0 auto;
		clear: both;
	}
}

/**** BUTTONS ****/

/*.button-primary {
   border-top: 1px solid #6a81a2;
   background: #233254;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e7705), to(#66a90f));
   background: -webkit-linear-gradient(top, #3e7705, #66a90f);
   background: -moz-linear-gradient(top, #3e7705, #66a90f);
   background: -ms-linear-gradient(top, #3e7705, #66a90f);
   background: -o-linear-gradient(top, #3e7705, #66a90f);
   padding: 8.5px 17px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Droid Serif', serif;
   text-decoration: none;
   vertical-align: middle;
   } */

/* duplicated elsewhere */
.button {
	clear: both;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0 auto 1em auto;
	display: block;
	color: #f5f3f5;
	background-color: #233254;
	border-color: #6a81a2;
}

/*
.button-primary:hover {
   border-top-color: #649b64;
   background: #649b64;
   color: #ccc;
   }

.button-primary:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.button-secondary {

} */

/**** list types ****/

.case-components > li {
	display: block;
	clear: both;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sortable li {
	margin: 3px;
	padding: 0.4em 1.5em;
	font-size: 1.4em;
	display: block;
}

.sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

/** I think these are obselete **/

.scale h1, h2, h3, h4, h5, a {
    color: #fd151B ;
}

.solution h1, h2, h3, h4, h5, a {
    color: #ffb30f ;
}

.delivery h1, h2, h3, h4, h5, a {
    color: #849324 ;
}

.speed h1, h2, h3, h4, h5, a {
    color: #437f97 ;
}

.fifth h1, h2, h3, h4, h5, a {
    color: #01295f ;
}


section {
    width: 95%;
    height: 200px;
    background: aqua;
    margin: 30px;
    padding: 30px;
}
div#one {
    width: 66%;
    height: 200px;
    background: red;
    float: left;
}
div#two {
    margin-left: 25%;
    height: 200px;
    background: black;
}

