body {
	background-color: #8fcb9b;
	color: #22181C;
}

a, p, textarea {
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	text-align: justify;
	text-decoration: none;
}

a:focus, a:active, a:hover {
	color: #0b6e4f;
	text-decoration: underline;
}

a {
	color: #8fcb9b;
}

h1, h2, h3, h4, h5, table {
	font-family: 'Arimo', sans-serif;
	text-align: center;
	font-weight: 700;
	color: #0b6e4f;
}

h1 {
	font-size: 32px;
	padding-top: 1em;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
	text-align: left;
}

h4 {
	font-size: 20px;
	text-align: justify;
	clear: both;
	padding: 2em 0 0 0;
}

h5 {
	font-size: 18px;
	text-align: justify;
	clear: both;
	padding: 0;
	margin: 0;
}

table {
	font-weight: 200;
}

hr {
	clear: both;
	width: 90%;
	margin: 50px 0;
}

ul {
	clear: both;
}

li {
	float: left;
	padding: 1em;
	border: 1px;
}

.no-margin {
	margin: 0;
}

.button {
	clear: both;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0 auto 1em auto;
	display: block;
	color: #fff;
	background-color: #8fcb9b;
	border-color: #0b6e4f;
}

.button a:focus, a:hover, a:active {
	text-decoration: none;
}

.wrapper {
	background-color: #fff;
	opacity: .9;
	width: 90%;
	margin: 0 auto;
	padding: 0 1em;
}

.main {
	width: 90%;
	margin: 0 auto;
	padding: 0 2em;
}

textarea {
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	min-height: 150px;
	border-color: #0b6e4f;
}

table {
	width: 90%;
	text-align: left;
	font-weight: 400;
	font-family: 'Droid Serif', serif;
}

th {
	max-width: 40%;
	font-family: Arimo;
}

td {
	text-align: center;
	font-size: 14px;
	padding: 3px 0;
	color: #22181C;
}

#button {
   border-top: 1px solid #000000;
   background: #66a90f;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e7705), to(#66a90f));
   background: -webkit-linear-gradient(top, #3e7705, #66a90f);
   background: -moz-linear-gradient(top, #3e7705, #66a90f);
   background: -ms-linear-gradient(top, #3e7705, #66a90f);
   background: -o-linear-gradient(top, #3e7705, #66a90f);
   padding: 8.5px 17px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
#button:hover {
   border-top-color: #649b64;
   background: #649b64;
   color: #ccc;
   }
#button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.scale h1, h2, h3, h4, h5, a {
    color: #fd151B ;
}

.solution h1, h2, h3, h4, h5, a {
    color: #ffb30f ;
}

.delivery h1, h2, h3, h4, h5, a {
    color: #849324 ;
}

.speed h1, h2, h3, h4, h5, a {
    color: #437f97 ;
}

.fifth h1, h2, h3, h4, h5, a {
    color: #01295f ;
}

.sidebar {
	float: right;
}

.maincontainer {
	float: left;
}

section {
    width: 95%;
    height: 200px;*/
    background: aqua;
    margin: 30px;
    padding: 30px;
}
div#one {
    width: 66%;
    height: 200px;
    background: red;
    float: left;
}
div#two {
    margin-left: 25%;
    height: 200px;
    background: black;
}
