{%  extends 'case/base.html' %}
    {%  block content %}
    <div class="wrapper">
      <h1>Better Business Cases</h1>
      <h2>Delivery</h2>
      <p>Here is some info about Dimension 2</p>
      <div class="main">
        <h3>Baseline</h3>
        <input type="text" name="Dimension 2 baseline" placeholder="fill in a brief description of your baseline" class="big-box">
        <h3>Minimum</h3>
        <input type="text" name="Dimension 2 minimum" placeholder="fill in a brief description of the minimum option" class="big-box">
        <h3>Intermediate</h3>
        <input type="text" name="Dimension 2 intermediate" placeholder="fill in a brief description of the intermediate option" class="big-box">
        <h3>Ambitious</h3>
        <input type="text" name="Dimension 2 ambitious" placeholder="fill in a brief description of the ambitious option" class="big-box">
      </div>
      <br>
      <a href="scoring-2.html"><input type="submit" value="Next" class="button"></a>
      <br>
    </div>
 {% endblock %}