<!DOCTYPE html>
<html>
<head>
  <script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({
  selector: 'textarea',
  height: 500,
  width:900,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
  ],
  toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],
  content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
  ]
 });</script>
</head>
<body>
  <textarea><p style="text-align: center; font-size: 15px;"><img title="Powys Council Logo" src="https://pbs.twimg.com/profile_images/1867349807/powyssm_400x400.jpg" alt="Powys Logo" width="200" height="200" />
  </p>
  <p>The purpose of this cOBC is to set out the case for the development of five new primary schools in the Gwernyfed Catchment Area in South Powys.  The total capital cost for delivering the preferred option of five new schools is estimated to be £23.79m which requires a contribution of £12.95m from Welsh Government (including an 85% contribution to Archdeacon Griffiths Church in Wales School at Llyswen). </p>

<p>This development is set within the context of Powys County Council’s (PCC) Schools Transformation Programme and is the outcome of detailed area review that took place between 2009 and 2012, which resulted in proposals for whole-scale reconfiguration of primary education in the Gwernyfed catchment.  This reconfiguration has three phases: </p>

<p><b>Key Phase 1: A reduction in the number of primary schools in the catchment, from ten in 2010 to six in 2015.</b>The final configuration will be five primary schools, with a combination of community primary and Church-in-Wales schools.</b>  This strategy has proved successful in reducing surplus places; removing small, unviable schools and delivering improved educational outcomes for learners by closing schools with poor educational profiles.</p>

<p><b>Key Phase 2: A significant capital investment to replace the remaining five schools with new standardised buildings.</b>  This will address the significant issue of poor school buildings that are in a deteriorating condition, and which have scored mostly Cs for suitability and sustainability.  It will also ensure that there are primary schools of the right size in the right locations, meeting the needs of local communities, providing an appropriate mix of both community school places and faith places, and minimising the need for excessive travel for pupils. </p>

<p><b>Key Phase 3: The last phase of the reconfiguration will be to consider alternative governance/leadership models for the five schools.</b>  Ensuring stability of leadership is one of the core principles of the Council’s Schools Transformation Policy 2014.  Throughout Powys, it is sometimes challenging to attract high-quality leadership, particularly to smaller rural schools, but also, in some cases, to larger primary schools. Currently, there are three permanent head teachers in the primary sector in Gwernyfed, with temporary head teacher arrangements at Hay-on-Wye, Talgarth and Bronllys.  This phase presents an opportunity to develop more sustainable governance models that provide real transformational change. </p>
</textarea>
</body>
</html>

