{% extends 'case/base.html' %}
    {% block content %}
    <div class="wrapper">
      <h1>Better Business Cases tool</h1>
      <h5>Here is a super brief overview of what better business cases are about.</h5>
      <p>There are five dimensions, you add a range of options for each dimension, and then score it on some criteria. The path with the highest score is the one to go for.</p>
      <h5>Here is some information on how this tool works.</h5>
      <p>This tool will take you through each of the five dimensions of a business case: <a href="dimension-1.html">Scale, Scope &amp; Location</a>; <a href="dimension-2.html">Delivery</a>; 3; 4; 5.</p>
      <p>For each dimension, you will complete four programme options: do nothing (baseline); minimum work; intermediate work; ambitious work.</p>
      <p>You will then score each scenario against the five criteria of good business cases.</p>
      <p>The output will be the best business case.</p>
      <a href="/case/dimension_1"><input type="submit" value="Go" class="button"></a>
      <br>
    </div>

    {% endblock %}