{% extends 'case/base.html' %}
    {% block content %}
        <div class="wrapper" xmlns="http://www.w3.org/1999/html">
      <h1>Better Business Cases</h1>
        {% if dimension %}
            <h2> {{ dimension }}</h2>
        {% else %}
            <h2>Summary Page</h2>
        {% endif %}

        {% if dimension %}
            The options below will have an 'edit' button next to them.
        {% for option in options %}
            <p>
                <span>{{ option.strength | capfirst }}</span>
                <span>{{ option.text |truncatewords:50 }}</span>
                <button id="button">
                    <a href="/case/options/{{ option.pk }}/edit/"> Edit me </a>
                </button>
            </p>
        {% endfor %}
            <button id="button>">  <a href="{% url 'case:options_new' dimension %}" class="top-menu"><span class="glyphicon glyphicon-plus">Add new options</span></a></button>
        {% else %}
      <p>Click through to see detail for each dimension of the case.</p>
            <!--
        <p> Make these into nice big buttons?</p>
        <p> 'Entries field' will be made dynamic</p> -->

            {% for option, value in counts.items %}
        <h3>      <button type="button" id="button"><a href="/case/options/{{ option  }}/">{{ option  | capfirst }}</a> </button><span> Entries: {{ value }} </span></h3>
            {%  endfor %}
        {% endif %}
        <h2> Economic Case Output</h2>
            <button type="button" id="button"><a href="/case/benefitsgraph/">Benefits Comparison Graph</a></button>
            <button type="button" id="button"><a href="/case/summarygraph/">Summary Output Graph</a></button>

    </div>
   {% endblock %}

<!-- make a link to score/<dimension>/<number> and then use that to pull up the details.
After discussion with AB and SS, we need to have a table that displays all of them, so...

For type in dimension:
    get all the options
    for option in options, go across the rows.

Provide that over as a queryset ordered by dimension?
  -->
<!-- For each option, show the ones where there's no matching score -->
