{% extends 'case/base.html' %}
    {% block content %}
        <div class="wrapper" xmlns="http://www.w3.org/1999/html">
      <h1>Better Business Cases</h1>
        {% if dimension %}
            <h2> {{ dimension }}</h2>
        {% else %}
            <h2>Summary Page</h2>
        {% endif %}

        {% if dimension %}
            The options below will have an 'edit' button next to them.
        {% for option in options %}
            <p><span>{{ option.strength }}</span> <span>{{ option.text }}</span> <a href="/case/options/{{ option.pk }}/edit/">Edit me</a></p>
        {% endfor %}
            <p> And we should also have an  <a href="{% url 'case:options_new' dimension %}" class="top-menu"><span class="glyphicon glyphicon-plus">'add' button to add </span></a>a new one. </p>
        {% else %}
      <p>Click through to see detail for each dimension of the case.</p>
        <p> Make these into nice big buttons?</p>
        <p> 'Entries field' will be made dynamic</p>

            {% for option, value in counts.items %}
        <h3>    <a href="/case/options/{{ option }}/"> {{ option }}</a> <span> Entries: {{ value }} </span></h3>
            {%  endfor %}
        {% endif %}
        <h2> Economic Case Output</h2>
            <a href="/case/benefitsgraph/">Summary output Graph</a>
            <a

    </div>
   {% endblock %}
