{% extends 'case/base.html' %}
    {% block content %}
    <div class="wrapper">
      <div class="main">
        <h1>Better Business Cases</h1>
        <h2>Scale, Scope &amp; Location: Assessing scenarios</h2>
        <p>We're now going to assess each scenario against the criteria.</p>
        <a href="#baseline">baseline</a>
        <a href="#minimum">minimum</a>
        <a href="#intermediate">intermediate</a>
        <a href="#ambitious">ambitious</a>
        <a name="baseline"></a>
        <h3>Baseline: Scale, Scope &amp; Location</h3>
        <p>Here is what you wrote for your baseline:</p>
        <p>[A brief description of your baseline]</p>
        <p>How does it score on each of these criteria? Click whichever is correct</p>
        <table>
          <tbody>
            <tr>
              <th>Affordability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Value for money</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Strategic fit</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Achievability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Critical success factors</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <a name="minimum"></a>
        <h3>Minimum: Scale, Scope &amp; Location</h3>
        <p>Here is what you wrote for your minimum:</p>
        <p>[A brief description of your minimum]</p>
        <p>How does it score on each of these criteria? Click whichever is correct</p>
          <table>
          <tbody>
            <tr>
              <th>Affordability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Value for money</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Strategic fit</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Achievability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Critical success factors</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
          </tbody>
        </table>
          <hr>
          <a name="intermediate"></a>
          <h3>Intermediate: Scale, Scope &amp; Location</h3>
          <p>Here is what you wrote for your intermediate:</p>
          <p>[A brief description of your intermediate]</p>
          <p>How does it score on each of these criteria? Click whichever is correct</p>
          <table>
          <tbody>
            <tr>
              <th>Affordability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Value for money</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Strategic fit</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Achievability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Critical success factors</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
          </tbody>
        </table>
          <hr>
          <a name="ambitious"></a>
          <h3>Ambitious: Scale, Scope &amp; Location</h3>
          <p>Here is what you wrote for your ambitious:</p>
          <p>[A brief description of your ambitious]</p>
          <p>How does it score on each of these criteria? Click whichever is correct</p>
          <table>
          <tbody>
            <tr>
              <th>Affordability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Value for money</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Strategic fit</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Achievability</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
            <tr>
              <th>Critical success factors</th>
              <td>not at all</td>
              <td>slightly</td>
              <td>quite well</td>
              <td>perfect</td>
            </tr>
          </tbody>
        </table>
        </div>
        <br>
        <a href="/case/dimension_2"><input type="submit" value="Let's go to Dimension 2" class="button"></a>
        <br>
      </div>
    </div>
{% endblock %}